* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html,
body {
  background-color: rgb(50, 50, 50);
}

.App {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.whole-container {
  justify-content: center;
  
}

